@font-face {
font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff") format("woff"),
  url("../fonts/web/gilroylight.woff2") format("woff2"),
  url("../fonts/web/Gilroylight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff") format("woff"),
  url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/web/Gilroyextrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
font-family: "Open Sans";
  src: url("../fonts/web/opensanslight.woff") format("woff"),
  url("../fonts/web/opensanslight.woff2") format("woff2"),
  url("../fonts/web/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}


header {
  width: 1160px;
  height: 299px;
  background-color: #f7e296;
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
}

.logo-header {
  margin-top: -19px;
  margin-left: 59px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}
.search {
  padding-top: 53px;
  padding-left: 63px;
}

.search-field {
  font-family: "Open Sans";
  font-size: 15px;
  opacity: 0.3;
}

.search-field:hover {
  font-family: "Open Sans";
  font-size: 15px;
  opacity: 0.6;
  <!--Как расширить поле действия hover?-->
}

.search-field:focus {
  font-family: "Open Sans";
  font-size: 15px;
  opacity: 1;
  border-bottom:
  <!--Как расширить поле действия hover?-->
}

.search-button {
  display: none;
}

.search:focus {
  display: block;
}

.user-panel-header li {
  display: inline-block;
  list-style: none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.user-panel-header li:hover {
  opacity: 0.6;
}

.user-panel-header li:active {
  opacity: 0.3;
}

.login-header a::before {
  background-image: url("img/user.svg");
}

.compare-header a::before {
  background-image: url("img/compare.svg");
}

.basket-header a::before {
  background-image: url("img/cart.svg");
}


.catalog-header  {
  display: inline;
  position: relative;
  margin-top: 50px;
  margin-left: 60px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2;
}

.catalog-submenu {
  position: absolute;
  display: none;
  line-height: 36px;
}

.user-navigation li {
  display: inline-block;
  list-style: none;
}

.user-navigation a {
  display: block;
  position: relative;
  list-style: none;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2;
}

.catalog-header a:hover,
.user-navigation a:hover,
.catalog-submenu  li {
  opacity: 0.6;
}

.catalog-header a:active,
.user-navigation a:active,
.catalog-submenu  li {
  opacity: 0.3;
}

.catalog-header > a:hover .catalog-submenu {
  display: block;
}

.catalog-submenu > li:hover {

}

.toppage-selfi b,
.toppage-bangle b,
.toppage-quadrupter b {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
}

.selfi-details a,
.bangle-details a,
.quadrupter-details a {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.definition-numbers {
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 48px;
}

.gadget-images li {
  display: inline-block;
  white-space: nowrap;
  background-color: #f7e296;
  width: 160px;
  height: 160px;
}

.gadget-item img {
  position: relative;
  top: 50%;
  left: 50%;
}
.gadget-images li:hover {
  background-color: f0c52e;
}

.gadget-images li:active img {
  opacity: 0.3;
}

.selfi-details a,
.bangle-details a,
.quadrupter-details a {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2;
  background-image: linear-gradient(#f7e296 0px, #f7e296 220px);
  <!-- Не знаю как сделать линию поперек текста на чистом css, чтобы ее потом можно было стилизовать-->
}

.selfi-details a:active,
.bangle-details a:active,
.quadrupter-details a:active {
  opacity: 0.3;
}

.brand-images-list img{
  filter: grayscale(100%);
}

.brand-images-list img:hover {
  filter: none;
}


<!--Начало стилизации каталога -->
h1 {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
<!--Почему не стилизуется?-->
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  font-size: 14px;
}

.filter-header {
  background-color: dbdbdb;
  font-family: "Gilroy";
  font-size:16px;
  font-weight: bold;
  width: 468px;
  height: 70px;
}

.filter-form {
  background-color: eeeeee;
  padding-left: 298px;
  padding-right:0;
}

.filter {
  width: 468px;
  height: 1283px;
}

.color-filter input {
  font-size: 14px;
}

.catalog-list {
  display: flex;
  flex-direction: column;

}


<!--Общий футер-->

footer {
  background-color: #464646;
  width: 1440px;
  height: 323px;
}
