`@font-face {
font-family: "Gilroy";
  src: url("fonts/web/gilroylight.woff") format("woff"),
  url("fonts/web/gilroylight.woff2") format("woff2"),
  url("fonts/web/Gilroylight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "Gilroy";
  src: url("fonts/web/gilroyextrabold.woff") format("woff"),
  url("fonts/web/gilroyextrabold.woff2") format("woff2"),
  url("fonts/web/Gilroyextrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
font-family: "Open Sans";
  src: url("fonts/web/opensanslight.woff") format("woff"),
  url("fonts/web/opensanslight.woff2") format("woff2"),
  url("fonts/web/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: Open Sans;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}


header {
  width: 1160px;
  height: 299px;
  background-color: #f7e296;
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
}

.logo-header {
  margin-top: -19px;
  margin-left: 59px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}
.search {
  padding-top: 53px;
  padding-left: 63px;
}



.search-field {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 10px;
}

search-button {
  visibility: hidden;
}

.catalog-header a {
  display: inline;
  position: relative;
  padding-top: 50px;
  padding-left: 60px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1;
}

.user-panel-header li {
  display: inline-block;
  list-style: none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.user-navigation li {
  display: inline-block;
  list-style: none;
}

.user-navigation a {
  display: block;
  position: relative;
  list-style: none;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1;
}

.toppage-selfi b,
.toppage-bangle b,
.toppage-quadrupter b {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
}

.selfi-details a,
.bangle-details a,
.quadrupter-details a {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.definition-numbers {
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 48px;
}

.gadget-images li {
  display: inline-block;
  white-space: nowrap;
  background-color: #f7e296;
  width: 160px;
  height: 160px;
}
.gadget-images li:hover {
  background-color: f0c52e;
}
`
